:8080 {
    root * /srv
    
    handle /api/* {
        reverse_proxy 127.0.0.1:8081
    }

    handle {
        @serve_files path /serve.sh /Caddyfile
        respond @serve_files 404
        file_server
        encode gzip
    }
}
